.header-section {
  margin-left: 4%;
}

.logos-section {
  margin-bottom: 1%;
  margin-left: 5%;
  margin-top: 1%;
}

span.mlUsr {
  margin-right: -70rem;
  color: #ffffff;
  text-decoration: underline;
  font-size: 17px;
}
