div.ShapeBnnr {
  background-color: #e6effd;
}

.visor {
  height: 23rem;
}

#visor1 {
  height: inherit;
}

div.fileContainer {
  border: 2px dashed #3366cc;
  padding: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1em;
}

.bubbleListShapes {
  margin-bottom: 0 !important;
  background-color: #e6effd;
  border-radius: 17px;
  padding: 3px 13px;
  margin-top: 0.4em;
  color: #004884;
  font-size: 12px;
  border-color: transparent;
  width: max-content;

  a[type="button"] {
    //   float: right;
    border-radius: inherit;
    font-weight: bold;
    cursor: pointer;
  }
}
