<div class="wrapper background-color-white">
  <app-header></app-header>
  <section class="">
    <div class="background-color-white row p-t-25">
      <div id="idRowCont" class="col-10 p-l-75">
        <div class="headerContent row">
          <div class="col-12">
            <h2 *ngIf="proyectoData == false" class="title-color mt-2">
              Cargando datos
            </h2>
            <h2 *ngIf="proyectoData" class="title-color mt-2">
              {{ proyectoData.datos_basicos.nombre }}
            </h2>
            <h2></h2>
          </div>
          <div *ngIf="proyectoData" class="col-12">
            <strong>
              <span
                [attr.class]="
                  proyectoData['estado'] == 'registrado'
                    ? 'badge badge-success'
                    : proyectoData['estado'] == 'en construcción'
                    ? 'badge badge-warning'
                    : proyectoData['estado'] == 'rechazado'
                    ? 'badge badge-danger'
                    : proyectoData['estado'] == 'borrador'
                    ? 'badge badge-info'
                    : 'badge badge-secondary'
                "
                style="padding: 0.42rem 1.2rem; border-radius: 0.15rem"
                >{{ proyectoData["traduccion"] }}</span
              >
            </strong>
          </div>
          <!-- <div class="row linea col-md-10">
            <ul id="idTimeline" class="timeline">
              <li class="active">Datos básicos</li>
              <li class="active">Ubicación</li>
              <li class="active">Financiación y Actores</li>
            </ul>
          </div> -->
          <br />
          <br />
        </div>
        <div *ngIf="Step1" class="headerContent row">
          <div class="col-12" style="margin: 25px 0px">
            <h3 class="title-color mt-2">Datos Básicos</h3>
          </div>
          <br />
          <br />
          <div class="col-3">
            <h5><strong>2. Año de Implementación del proyecto</strong></h5>
            <h5 *ngIf="!!proyectoData">
              {{ proyectoData.datos_basicos.annio }}
            </h5>
            <h5 *ngIf="!!proyectoData == false">Cargando...</h5>
          </div>
          <div class="col-3">
            <h5><b>3. Etapa del proyecto</b></h5>
            <h5 *ngIf="!!proyectoData">
              {{ proyectoData.datos_basicos.traduccion_etapa }}
            </h5>
            <h5 *ngIf="!!proyectoData == false">Cargando...</h5>
          </div>
          <div class="col-3">
            <h5><strong>4. Tipo del Proyecto</strong></h5>
            <h5 *ngIf="!!proyectoData">
              {{ proyectoData.datos_basicos.traduccion_tipo }}
            </h5>
            <h5 *ngIf="!!proyectoData == false">Cargando...</h5>
          </div>
          <br /><br /><br /><br />
          <div class="col-10 div-content" style="margin-top: 45px">
            <div class="col-10">
              <h4 class="title-color mt-2 p-tb-20">Autoridad Ambiental</h4>
            </div>
            <table class="table mt-10 misProyectosTable" id="tabla1">
              <thead>
                <tr
                  class="text-center background-color-blue title-color"
                  style="margin-top: 5px; padding-top: 5px"
                >
                  <th class="l-h-45">No</th>
                  <th class="l-h-45 t-a-l">2.1 Nombre Autoridad Ambiental</th>
                </tr>
              </thead>
              <tbody *ngIf="mostrarTabla">
                <tr
                  class="text-center"
                  *ngFor="let proyecto of datosBasicos; index as i"
                >
                  <td class="l-h-75">
                    <strong>
                      <span>{{ i + 1 }}</span>
                    </strong>
                  </td>
                  <td class="l-h-75l t-a-l">
                    <strong>{{ proyecto }}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12" style="margin: 25px 0px">
            <h4 class="title-color mt-2">Datos Del Proyecto</h4>
          </div>
          <div
            *ngIf="etapaProyecto === 'preinversion'; else implementadores"
            class="col-10 div-content"
          >
            <div class="col-10">
              <h4 class="title-color mt-2 p-tb-20">
                Nombre de la Entidad Formuladora del Proyecto
              </h4>
            </div>
            <table class="table misProyectosTable">
              <thead>
                <tr
                  class="text-center background-color-blue title-color"
                  style="margin-top: 5px; padding-top: 5px"
                >
                  <th class="l-h-45">No</th>
                  <th class="l-h-45 t-a-l">Nombre de la Entidad</th>
                </tr>
              </thead>
              <tbody *ngIf="mostrarTabla">
                <tr
                  class="text-center"
                  *ngFor="
                    let proyecto of proyectoData.datos_basicos.entidades;
                    index as i
                  "
                >
                  <td class="l-h-75">
                    <strong>
                      <span>{{ i + 1 }}</span>
                    </strong>
                  </td>
                  <td class="l-h-75 t-a-l">
                    <strong>{{ proyecto }}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ng-template #implementadores>
            <div class="col-10 div-content">
              <div class="col-10">
                <h4 class="title-color mt-2 p-tb-20">
                  Nombre de la Entidad Implementadora del Proyecto
                </h4>
              </div>
              <table class="table misProyectosTable">
                <thead>
                  <tr
                    class="text-center background-color-blue title-color"
                    style="margin-top: 5px; padding-top: 5px"
                  >
                    <th class="l-h-45">Nombre de la Entidad</th>
                    <th class="l-h-45 t-a-l">Tipo entidad</th>
                    <th class="l-h-45 t-a-l">Tipo Proyecto</th>
                    <th class="l-h-45 t-a-l">Modalidad Proyecto</th>
                    <th class="l-h-45 t-a-l">Acciones a Recomendar</th>
                  </tr>
                </thead>
                <tbody *ngIf="mostrarTabla">
                  <tr class="text-center">
                    <td class="l-h-75">
                      <strong>{{
                        proyectoData.datos_basicos.implementador.nombre
                      }}</strong>
                    </td>
                    <td class="l-h-75 t-a-l">
                      {{ proyectoData.datos_basicos.implementador.traduccion }}
                    </td>
                    <td class="l-h-75 t-a-l">
                      {{ proyectoData.datos_basicos.traduccion_tipo }}
                    </td>
                    <td class="l-h-75 t-a-l">
                      {{ proyectoData.datos_basicos.traduccion_modalidad }}
                    </td>
                    <td class="l-h-75 t-a-l">
                      <span
                        *ngFor="
                          let accion of proyectoData.datos_basicos.acciones
                        "
                      >
                        {{ accion.traduccion }}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </div>
        <div *ngIf="Step2" class="headerContent row">
          <div class="col-12" style="margin: 25px 0px">
            <h3 class="title-color mt-2">Ubicación</h3>
          </div>
          <div class="col-10 div-content">
            <div class="col-10">
              <h4 class="title-color mt-2 p-tb-20">
                Municipios donde se Encuentra el Proyecto
              </h4>
            </div>
            <table class="table misProyectosTable">
              <thead>
                <tr
                  class="text-center background-color-blue title-color"
                  style="margin-top: 5px; padding-top: 5px"
                >
                  <th class="l-h-45">No</th>
                  <th class="l-h-45 t-a-l">Departamento</th>
                  <th class="l-h-45 t-a-l">Municipio</th>
                </tr>
              </thead>
              <tbody *ngIf="mostrarTabla">
                <tr
                  class="text-center"
                  *ngFor="let proyecto of ubicaciones; index as i"
                >
                  <td class="l-h-75">
                    <strong>
                      <span>{{ i + 1 }}</span>
                    </strong>
                  </td>
                  <td class="b-rl-0 l-h-75 t-a-l">
                    <strong>{{ proyecto.departamento }}</strong>
                  </td>
                  <td class="b-rl-0 l-h-75 t-a-l">
                    <strong>{{ proyecto.municipio }}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="Step3" class="headerContent row">
          <div *ngIf="etapaProyecto === 'preinversion'; else beneficiarios">
            <div class="col-12" style="margin: 25px 0px">
              <h3 class="title-color mt-2">Financiación y Actores</h3>
            </div>
            <div class="col-10 div-content">
              <div class="col-10">
                <h4 class="title-color mt-2 p-tb-20">
                  Actores Involucrados en el Proyecto
                </h4>
              </div>
              <table class="table misProyectosTable">
                <thead>
                  <tr
                    class="text-center background-color-blue title-color"
                    style="margin-top: 5px; padding-top: 5px"
                  >
                    <th class="l-h-45">No</th>
                    <th class="l-h-45 t-a-l">
                      Actores Involucrados en el Proyecto
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="mostrarTabla">
                  <tr
                    class="text-center"
                    *ngFor="
                      let proyecto of proyectoData.financiacion.actores;
                      index as i
                    "
                  >
                    <td class="l-h-75">
                      <strong>
                        <span>{{ i + 1 }}</span>
                      </strong>
                    </td>
                    <td class="l-h-75 t-a-l">
                      <strong>{{ proyecto }}</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-10 div-content">
              <div class="col-7">
                <h4 class="title-color mt-2 p-tb-20">
                  Potenciales Fuentes de Financiación
                </h4>
              </div>
              <table class="table misProyectosTable">
                <thead>
                  <tr
                    class="text-center background-color-blue title-color"
                    style="margin-top: 5px; padding-top: 5px"
                  >
                    <th class="l-h-45">No</th>
                    <th class="l-h-45 t-a-l">Fuentes de financiación</th>
                    <th class="l-h-45 t-a-l">Nombre de la Fuente</th>
                  </tr>
                </thead>
                <tbody *ngIf="mostrarTabla">
                  <tr
                    class="text-center"
                    *ngFor="let proyecto of financiacion; index as i"
                  >
                    <td class="l-h-75">
                      <strong>
                        <span>{{ i + 1 }}</span>
                      </strong>
                    </td>
                    <td class="l-h-75 t-a-l">
                      <strong>{{ proyecto.traduccion }}</strong>
                    </td>
                    <td class="l-h-75 t-a-l">
                      <strong *ngFor="let item of proyecto.listado">
                        <span>{{ item.nombre }}</span
                        ><br />
                      </strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <ng-template #beneficiarios>
            <div class="col-12" style="margin: 25px 0px">
              <h3 class="title-color mt-2">Beneficiarios</h3>
            </div>
            <div class="col-10 div-content">
              <table class="table misProyectosTable">
                <thead>
                  <tr
                    class="text-center background-color-blue title-color"
                    style="margin-top: 5px; padding-top: 5px"
                  >
                    <th class="l-h-45 t-a-l">
                      Número Total de Familias Benficiarias del Proyecto
                    </th>
                    <th class="l-h-45 t-a-l">
                      Número de Familias Beneficiarias Campesinas del Proyecto
                    </th>
                    <th class="l-h-45 t-a-l">
                      Número de Familias Indígenas Beneficiarias del Proyecto
                    </th>
                    <th class="l-h-45 t-a-l">
                      Número de Familias Afrodescendientes Beneficiarias del
                      Proyecto
                    </th>
                    <th class="l-h-45 t-a-l">
                      Número de Familias Beneficiarias de Otros Grupos
                      Poblacionales
                    </th>
                    <th class="l-h-45 t-a-l">
                      Número de Mujeres Beneficiarias del Proyecto
                    </th>
                    <th class="l-h-45 t-a-l">
                      Número de Hombres Beneficiarios del Proyecto
                    </th>
                    <th class="l-h-75 t-a-l">
                      Nivel promedio del Ingreso de las Familias Beneficiarias
                      del Proyecto
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="mostrarTabla">
                  <tr class="text-center">
                    <td class="l-h-75 t-a-l">
                      <strong>{{
                        proyectoData.beneficiarios
                          .num_familias_beneficiadas_campesina
                      }}</strong>
                    </td>
                    <td class="l-h-75 t-a-l">
                      <strong>{{
                        proyectoData.beneficiarios
                          .num_familias_beneficiadas_indigena
                      }}</strong>
                    </td>
                    <td class="l-h-75 t-a-l">
                      <strong>{{
                        proyectoData.beneficiarios
                          .num_familias_beneficiadas_afro
                      }}</strong>
                    </td>
                    <td class="l-h-75 t-a-l">
                      <strong>{{
                        proyectoData.beneficiarios
                          .num_familias_beneficiadas_otras
                      }}</strong>
                    </td>
                    <td class="l-h-75 t-a-l">
                      <strong>{{
                        proyectoData.beneficiarios.num_mujeres_beneficiadas
                      }}</strong>
                    </td>
                    <td class="l-h-75 t-a-l">
                      <strong>{{
                        proyectoData.beneficiarios.num_hombres_beneficiados
                      }}</strong>
                    </td>
                    <td class="l-h-75 t-a-l">
                      <strong>{{
                        proyectoData.beneficiarios
                          .nivel_ingreso_promedio_familia
                      }}</strong>
                    </td>
                    <td class="l-h-75 t-a-l">
                      <strong>{{
                        proyectoData.beneficiarios.traduccion
                      }}</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </div>
        <div *ngIf="Step4" class="headerContent row">
          <div class="col-12" style="margin: 25px 0px">
            <h3 class="title-color mt-2">Financiación y Gastos</h3>
          </div>
          <div class="col-10 div-content">
            <div class="col-10">
              <h4 class="title-color mt-2 p-tb-20">Financiación</h4>
            </div>
            <table class="table misProyectosTable">
              <thead>
                <tr
                  class="text-center background-color-blue title-color"
                  style="margin-top: 5px; padding-top: 5px"
                >
                  <th class="l-h-45">No</th>
                  <th class="l-h-45 t-a-l">Tipo de Fuente de Financiacion</th>
                  <th class="l-h-45 t-a-l">Nombre de la fuente</th>
                  <th class="l-h-45 t-a-l">Valor financiado $COP</th>
                </tr>
              </thead>
              <tbody *ngIf="mostrarTabla">
                <tr
                  class="text-center"
                  *ngFor="let fuente of financiacion; index as i"
                >
                  <td class="l-h-75">
                    <strong>
                      <span>{{ i + 1 }}</span>
                    </strong>
                  </td>
                  <td class="l-h-75 t-a-l">
                    <strong>{{ fuente.traduccion }}</strong>
                  </td>
                  <td class="l-h-75 t-a-l">
                    <strong *ngFor="let d of fuente.listado">
                      {{ d.nombre }}
                    </strong>
                  </td>
                  <td class="l-h-75 t-a-l">
                    <p *ngFor="let d of fuente.listado">
                      {{ d.valor_financiado | currency: "COP":true:"1.0-0" }}
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br />
          <div class="col-10 div-content">
            <div class="col-10">
              <h4 class="title-color mt-2 p-tb-20">Gastos</h4>
            </div>
            <table class="table misProyectosTable">
              <thead>
                <tr
                  class="text-center background-color-blue title-color"
                  style="margin-top: 5px; padding-top: 5px"
                >
                  <th class="l-h-45">Gastos Administrativos</th>
                  <th class="l-h-45">Gastos Asociados</th>
                  <th class="l-h-45">Valor total de Proyecto $COP</th>
                </tr>
              </thead>
              <tbody *ngIf="mostrarTabla">
                <tr class="text-center">
                  <td class="l-h-75">
                    {{
                      gastos.gasto_administrativo_psa
                        | currency: "COP":true:"1.0-0"
                    }}
                  </td>
                  <td class="l-h-75">
                    {{
                      gastos.gasto_monitoreo_psa | currency: "COP":true:"1.0-0"
                    }}
                  </td>
                  <td class="l-h-75">
                    <strong>
                      {{
                        gastos.valor_total_psa | currency: "COP":true:"1.0-0"
                      }}
                    </strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="Step5" class="headerContent">
          <div class="container background-color-white frmBl">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <strong>74. Información de los predios seleccionados:</strong>
                  <ul>
                    <li>Si es Propietario anexe estos documentos</li>
                    <li>Cédula catastral, dirección</li>
                    <li>Folio de matrícula inmobiliaria,</li>
                    <li>
                      Número de escritura pública y año. En caso de ser
                      poseedores u ocupantes, cargue la información de los
                      certificados correspondientes.
                    </li>
                  </ul>
                  <div class="stagedFiles">
                    <div *ngFor="let anexo of anexos.propietarios">
                      <div class="listBubble">
                        <span
                          ><a
                            href="{{ this.s3_url + anexo.ubicacion }}"
                            target="_blank"
                            rel="noopener noreferrer"
                            >{{ anexo.nombre | uppercase }}</a
                          ></span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <strong>75. Información de los predios seleccionados:</strong>
                  <ul>
                    <li>
                      Si es poseedor u ocupante de buena fe: <br />Anexar
                      documentos que certifiquen la sana posesión (ejemplos):
                    </li>
                    <li>Certificado de Juntas de acción comunal o alcaldía</li>
                    <li>Certificado de derecho de uso</li>
                    <li>
                      Certificado de ocupación por parte de la Autoridad
                      Ambiental
                    </li>
                    <li>Título de poseedor regular</li>
                  </ul>
                  <div class="stagedFiles">
                    <div *ngFor="let anexo of anexos.ocupantes">
                      <div class="listBubble">
                        <span
                          ><a
                            href="{{ this.s3_url + anexo.ubicacion }}"
                            target="_blank"
                            rel="noopener noreferrer"
                            >{{ anexo.nombre | uppercase }}</a
                          ></span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-6 mt-3">
                  <div class="form-group">
                    <strong
                      >76. Documento de la formulación del proyecto:</strong
                    >
                    <div class="stagedFiles">
                      <div *ngFor="let anexo of this.anexos.proyectos">
                        <div class="listBubble">
                          <span
                            ><a
                              href="{{ this.s3_url + anexo.ubicacion }}"
                              target="_blank"
                              rel="noopener noreferrer"
                              >{{ anexo.nombre | uppercase }}</a
                            ></span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" style="margin: 25px 0px">
          <button
            *ngIf="!Step1"
            (click)="btnPrev()"
            type="button"
            class="btn btn-secondary mr-4 btnSalir"
          >
            REGRESAR
          </button>
          <button
            *ngIf="Step1"
            routerLink="/proyectos"
            type="button"
            class="btn btn-secondary mr-4 btnSalir"
          >
            SALIR
          </button>
          <button
            *ngIf="!Step5"
            (click)="btnNext()"
            type="button"
            class="btn btn-secondary mr-4 btnSiguiente"
            [disabled]="Step3 == true && etapaProyecto === 'preinversion'"
          >
            SIGUIENTE
          </button>
          <button
            *ngIf="Step3"
            routerLink="/proyectos"
            type="button"
            class="btn btn-secondary mr-4 btnSalir"
          >
            SALIR
          </button>
        </div>
        <div class="col-12">
          <a *ngIf="Step2" routerLink="/proyectos" class="exitAnchor">
            SALIR
          </a>
        </div>
      </div>
      <div *ngIf="comFlat" class="col-2">
        <div class="po-fi" style="height: 450px">
          <app-comentarios
            [idProyectoP]="idProyecto"
            [idAutorP]="idAutor"
          ></app-comentarios>
        </div>
      </div>
    </div>
  </section>
  <footer
    class="margin-top-no-info"
    app-footer
    *ngIf="!mostrarTabla || proyectoData.length < 10"
  ></footer>
</div>
<footer app-footer></footer>
