<!-- Sección Landing -->
<div class="container-fluid background-color-white">
  <div class="row">
    <div class="start-photo">
      <img class="crop" src="assets/img/start-photo-2.png" alt="" />
    </div>
    <div class="white-circle">
      <img class="img-hand-tam" src="assets/img/circle-hand.png" alt="" />
    </div>
  </div>
</div>
<div class="container-fluid background-color">
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4"></div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
      <h2 class="text-center padding-top-5rem font-montserrat">
        <br />Bienvenido al sistema de registro de PSA
      </h2>
      <h4 class="text-center mt-5 font-weight-normal font-work font-w-16">
        Es la herramienta de reporte para entidades diseñadoras o
        implementadoras de proyectos de PSA en el Territorio Nacional.
      </h4>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4"></div>
  </div>
  <div class="row text-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <button
        type="button"
        class="btn btn-outline-primary rounded-pill mt-5 mb-5"
        (click)="redirectLogin()"
      >
        <strong>INGRESAR</strong>
      </button>
    </div>
  </div>
</div>

<div class="container-fluid background-color-shape">
  <div class="row">
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 text-left">
      <h2 class="title-download-shape pt-5 font-montserrat">
        Descarga de estructura Geodatabase / shape File para subir info
        cartográfica PSA
      </h2>
      <h4 class="detail-download-shape mt-3 font-work font-w-16">
        A continuación encontrará la plantilla base para realizar el cargue
        correcto de los Shape File del formulario de registro de proyectos.
      </h4>
      <h4 class="detail-download-shape mt-3 font-work font-w-16">
        Recuerde que este documento solo es necesario si su proyecto se
        encuentra en una etapa de revisión.
      </h4>
      <button type="button" class="btn btn-primary rounded-pill mt-5">
        <strong>DESCARGAR SHAPES</strong>
      </button>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-center">
      <img
        class="img-fluid mt-5 mb-5"
        src="assets/img/descarga-shapes.png"
        alt=""
      />
    </div>
  </div>
</div>

<div class="container-fluid background-color-sponsors">
  <div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2"></div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 text-center">
      <h2 class="title-download-shape pt-5 font-montserrat">
        Patrocinadores del Sistema de Gestión de Información <br />para el
        Registro de PSA
      </h2>
      <h4 class="detail-download-shape mt-5 ml-5 mr-5 font-work font-w-16">
        Esta página web es producto del proyecto "Transformación Digital para la
        lucha contra la deforestación" implementado a través del convenio de
        Cooperación técnica ATN/CM-18261-CO, financiada por el Fondo
        multidonante Colombia Sostenible, con recursos de los gobiernos Suecia,
        Suiza y Noruega y con la administración fiduciaria del Banco
        Interamericano de Desarrollo (BID).
      </h4>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2"></div>
  </div>
  <div class="row">
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 text-center">
      <div class="contenedor">
        <div class="pat">
          <img src="assets/img/BID-2.png" alt="" />
        </div>
        <div class="pat">
          <img src="assets/img/quid-lab-2.png" alt="" />
        </div>
        <div class="pat">
          <img src="assets/img/col-sos-2.png" alt="" />
        </div>
        <div class="pat">
          <img src="assets/img/real-emb-2.png" alt="" />
        </div>
        <div class="pat">
          <img src="assets/img/swe-sve-2.png" alt="" />
        </div>
        <div class="pat">
          <img src="assets/img/SECO-2.png" alt="" />
        </div>
      </div>
    </div>
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
  </div>
</div>
