.background-color-footer {
  background-color: #3366cc;
}

.text-color-footer {
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: underline;
  background-color: transparent;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

.image-size {
  height: 50%;
  width: 50%;
}

.image-size-logo-colombia {
  height: 10%;
  width: 10%;
}

.font-weight-normal {
  font-weight: normal;
}
