<!-- Sección Footer -->
<div class="container-fluid background-color-footer mt-5">
  <div class="row align-items-center text-color-footer">
    <div
      class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 mt-5 mb-5 text-center"
    >
      <img
        class="img-fluid image-size ml-5 mr-5"
        src="assets/img/logo.png"
        alt=""
      />
      <img
        class="img-fluid image-size-logo-colombia ml-5 mr-5 mt-5"
        src="assets/img/logo-colombia.svg"
        alt=""
      />
    </div>
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 mt-5 mb-5">
      <h3>Ministerio de Ambiente</h3>
      <h4 class="mt-5 font-weight-normal">
        Dirección: Calle 37 No. 8 - 40, Bogotá D.C.
      </h4>
      <h4 class="font-weight-normal">Código Postal: 110311</h4>
      <h4 class="font-weight-normal">
        Horario de Atención: Lunes a Viernes de 8:00 a.m. a 4:30 p.m.
      </h4>
      <h4 class="mt-5 font-weight-normal">
        <img class="img-fluid" src="assets/img/twitter.png" alt="" />
        @MINAMBIENTECO
        <img class="img-fluid" src="assets/img/instagram.png" alt="" />
        @MINAMBIENTECO <br /><br /><img
          class="img-fluid"
          src="assets/img/facebook.png"
          alt=""
        />
        @MINAMBIENTECO
      </h4>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 mt-5 mb-5">
      <h3>Contacto</h3>
      <h4 class="font-weight-normal">Teléfono Conmutador: +57 601 332 3400</h4>
      <h4 class="font-weight-normal">
        Línea gratuita: 01 8000 919 301 Extensión 2467
      </h4>
      <h4 class="font-weight-normal">WhatsApp: +57 310-221 3891</h4>
      <h4 class="font-weight-normal">
        Correo Institucional:<br />servicioalciudadano@minambiente.gov.co<br />decreto1007@minambiente.gov.co<br />nverdes@minambiente.gov.co
      </h4>
      <h4><a href="#">Mapa del sitio</a></h4>
      <h4><a href="#">Políticas</a></h4>
    </div>
  </div>
</div>
